.main-page {
  background-color: var(--background);
  width: 1883px;
}

.main-page__header {
  text-align: center;
  padding: 20px 0;
  background-color: var(--primary-color);
  margin-bottom: 100px;
  color: white;
}
.product-card__image {
  width: 150px; /* Размер для изображения на главной странице */
  height: auto;
}

.product-detail__image {
  width: 80%; /* Увеличенный размер для детальной страницы */
  max-width: 600px;
  height: auto;
}


.main-page__controls {
  text-align: center;
  width: 640px;
  justify-content: center;
  margin: auto;
  padding: 0 327.5px 48px 327.5px;
}

.loader-container {
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  height: 100vh; /* Высота 100% от высоты окна браузера */
}

.main-page__search{
  display: flex;
  margin-bottom: 20px;
  padding: 0 327.5px;

}
.main-page__search input {
  flex-shrink: 1;
  padding-right: 910px;
  margin-right: 24px;
}

.main-page__search button {
  white-space: nowrap; /* Предотвращает перенос текста кнопки на новую строку */
  right: 0px;
}


.main-page__filter{
  width: 300px;
  padding-left: 327.5px;
  margin-bottom: 48px;
}
.main-page__catalog{
  margin: 0 327.5px;
}

.main-page__catalog h1{
  margin-bottom: 32px;
  font-size: 32px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 79px;
  margin-bottom: 48px;
}

.product-grid Button{
  width: 155px;
  height: 52px;
}

.main-page__pagination{
  align-items: center;
  align-content: center;
  display: flex;
  margin: 0 327.5px;
  padding-bottom: 48px;
}
.main-page__pagination left{
  rotate: 90;
}
.main-page__pagination right{
  rotate: -90;
}
.main-page__pagination Button{
  width: 38px;
  height: 42px;
}
.main-page__pagination_buttons{
  margin:  0px 15px;
}

.error-message {
  color: red;
  text-align: center;
}
