// ProductScreen.module.scss
@import '../../styles/variables';

.page__details {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 146px;
}

._container-details {
  max-width: 1301px;
  height: 1346px;
  margin: 0 auto;
  box-sizing: content-box;
  padding-bottom: 144px;
}

.details__button-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.details__button_back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 129px;
  height: 48px;
  cursor: pointer;
  text-align: start;
}

.details__content {
  display: flex;
  flex-direction: column;
  gap: $space-xxl;
}

.details__layout {
  padding-top: $space-xxl;
  display: flex;
  gap: $space-xxl;
  justify-content: center;
  width: 1301px;
}

.details__image-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details__carousel-control {
  position: absolute;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary;
  color: $base;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-left {
  left: $space-xl; 
}

.carousel-right {
  right: $space-xl; 
}

.details__carousel-disabled {
  opacity: 0.6; 
}

.details__image {
  flex: 0 0 auto;
  min-width: 600px;
  min-height: 600px;
}

.details__cost {
  width: 338px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: $space-xxl;
}

.details__actions {
  width: 100%;
  height: 52px;
  display: flex;
  gap: $space-xxl;
}

.add-to-cart-button {
  color: $primary;
  background-color: $font;
  border: 1px solid $secondary;
}

.details__related {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}
