@import '../../styles/variables';

.dynamicWrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $base;
    padding: 5px 0;
    font-size: $font-size-large;
    border: 1px solid $base;

    &.stateDisabled {
        background-color: $disabled-background-color;
        color: $disabled-color;
        cursor: not-allowed;
    }

    &:focus-within {
        border: 1px solid $accent;
    }
}

.inputField {
    width: 100%;
    padding-left: $space-xxs;
    height: $input-height;
    padding: 0 $space-s;
    font-size: $font-size-large;
    border: none;
    outline: none;
    background-color: transparent;
    color: $primary;
    transition: background-color $transition-duration $transition-easing;
    padding-right: calc($space-s + 20px);

    &::placeholder {
        color: $secondary;
    }

    &:disabled {
        background-color: $disabled-background-color;
        color: $disabled-color;
        opacity: 0.6;
    }
}

.slotWrapper {
    position: absolute;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $icon-color;
    pointer-events: none;
}

.filledState {
    border-color: $highlight;
}

.emptyState {
    border-color: $muted;
}
